.xyz {
    background-size: auto;
    text-align: center;
    padding-top: 100px;
    background-color: antiquewhite;
}
.card{
    margin-left: 25rem;
    border: 1px solid;
    padding: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;   */

}
.card-body button{
    margin-top: 500rem;
}


.card-body button{
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 80px;
    font-size: 12px;
    
    margin-top: -29rem;
    justify-content: space-between;
    text-align: center;
    /* border: 5px solid #708090; */
    font-size: 3.5em;
}

.card-body div{
    font-size: 1rem;
    margin-top: -2.6rem;
   
}
.tag{
    font-size: 1rem;
    margin-top: 50rem;

}
